<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <p><center>Admin area</center></p>
    <label>Add Destination</label>
    <form method="post" action="../flight/create_destination">
      <p>Enter destination name:</p>
      <input name="destinationName" placeholder="Destination name" />
      <br />
      <br />
      <button type="submit">Add</button>
    </form>
    <br />
    <a href="/admin">Back</a>
  </body>
</html>