<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <p><center>Admin area</center></p>
    <p>{{firstMessage}}</p>
    <p>{{secondMessage}}</p>
    <br />
    <a href="/admin">Back</a>
  </body>
</html>