<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <p><center>Login as:</center></p>
    <div>
      <center>
        <button><a href="/admin">Admin</a></button>
        <button><a href="/passenger">Passenger</a></button>
      </center>
    </div>
  </body>
</html>