<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <p>{{message}}</p>
    <br />
    <a href="/admin/create_flight_route">Back</a>
  </body>
</html>